<div class="loading-block" style="display: flex; justify-content: center; align-items: center;"
     *ngIf="(loading | async) else  cocktailsArea">
  <mat-spinner color="primary" style="margin-top: 50px;"></mat-spinner>
</div>
<ng-template #cocktailsArea>
  <div *appHasRoles="['admin'] else UserAndAnonym" class=" cocktails-list" style="padding: 50px;" fxLayout.xs="column"
       fxLayout="row wrap" fxLayoutGap="15px" ngClass.gt-xs="ml-15">
    <mat-card style="cursor: pointer;"
              *ngFor="let  cocktail of (cocktails | async)" fxFlex.sm="0 1 calc(50%-15px)"
              fxFlex.md="0 1 calc(33%-15px)"
              fxFlex.gt-md="0 1 calc(25%-15px)">
      <img mat-card-image [src]="[env. cocktailsUploadPath +  cocktail.image]" [alt]=" cocktail.name">
      <mat-card-content>
        <mat-card-title>{{  cocktail.name }}</mat-card-title>
        <mat-card-subtitle style="color: red;" *ngIf="! cocktail.isPublished"><strong>unpublished</strong>
        </mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/cocktail-details/' + cocktail._id]">VEIW</button>
        <button mat-button *ngIf="! cocktail.isPublished" (click)="publish(cocktail._id)">PUBLISH</button>
        <button mat-button (click)="delete(cocktail._id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #UserAndAnonym>
    <div class=" cocktails-list" style="padding: 50px;" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="15px"
         ngClass.gt-xs="ml-15">
      <mat-card style="cursor: pointer;"
                *ngFor="let  cocktail of (cocktails | async) |  cocktails" fxFlex.sm="0 1 calc(50%-15px)"
                fxFlex.md="0 1 calc(33%-15px)"
                fxFlex.gt-md="0 1 calc(25%-15px)">
        <img mat-card-image [src]="[env.cocktailsUploadPath +  cocktail.image]" [alt]=" cocktail.name">
        <mat-card-content>
          <mat-card-title>{{  cocktail.name }}</mat-card-title>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/cocktail-details']" [queryParams]="{  cocktail:  cocktail._id }">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</ng-template>


